<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Nellie's List</title>
</head>
<body>

    <div class="container">

        <h1>Nellie's List</h1>

        <div class="main-form">
            <form class="full-width" action="/todo" method="post">
                <input type="text" name="description">
                <div class="btn-group">
                    <button class="btn btn-main" type="submit">Add Todo</button>
                </div>
            </form>
        </div>

        {{#if todos}}
            <section>
                <h3>ToDos</h3>
                <div class="done-toggle">
                    <form action="/done" method="get">
                        <button class="btn" type="submit">Show Done ToDos</button>
                    </form>
                </div>
                <ul>
                    {{#each todos}}
                        <li>
                            <div class="form-group">
                                {{this.description}}
                                <div class="btn-group">
                                    <form action="/todo/done/{{this._id}}" method="post">
                                        <button class="btn" type="submit">Done</button>
                                    </form>
                                    <form action="/todo/delete/{{this._id}}" method="post">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </section>
        {{else}}
            <section>
                <h3>Done ToDos</h3>
                <div class="done-toggle">
                    <form action="/" method="get">
                        <button class="btn" type="submit">Show ToDos</button>
                    </form>
                </div>
                <ul>
                    {{#each doneTodos}}
                        <li>
                            <div class="form-group">
                                {{this.description}}
                                <div class="btn-group">
                                    <form action="/todo/done/{{this._id}}" method="post">
                                        <button class="btn" type="submit">Undo</button>
                                    </form>
                                    <form action="/todo/delete/{{this._id}}" method="post">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </section>
        {{/if}}


    </div> <!-- Close container -->


</body>
</html>