<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nellie's List</title>
</head>
<body>
    <h1>Nellie's List</h1>

    <form action="/todo" method="post">
        <input type="text" name="description">
        <button type="submit">Add Todo</button>
    </form>

    {{#if todos}}
        <section>
            <h3>ToDos</h3>
            <form action="/done" method="get">
                <button type="submit">Show Done ToDos</button>
            </form>
            <ul>
                {{#each todos}}
                    <li>
                        {{this.description}} - {{this.done}}
                        <form action="/todo/done/{{this._id}}" method="post">
                            <button type="submit">Done</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{else}}
        <section>
            <h3>Done ToDos</h3>
            <form action="/" method="get">
                <button type="submit">Show ToDos</button>
            </form>
            <ul>
                {{#each doneTodos}}
                    <li>{{this.description}} - {{this.done}}
                        <form action="/todo/done/{{this._id}}" method="post">
                            <button type="submit">Undo</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/if}}

</body>
</html>